.main-header{
	background-color: white;
	background-image: url($image-path + "header-vertical-paneling.png");
	background-repeat-y: no-repeat;
	background-size: 320px;
	height: 144px;
	position: relative;
	background-position-x: center;

	&::after{
		content: "";
		display:block;
		width: 100%;
		height: 48px;
		position: absolute;
		bottom: 0;
		background-image: url($image-path + "horizontal-board.jpg");
		background-repeat-y: no-repeat;
		background-size: 320px;
		box-shadow: 0 1px 10px 2px rgba(0,0,0,0.21);
	}
}

.logo{
	line-height: 0;
	margin: 0;
	position: absolute;
	bottom: 10px;
	z-index: 4;
	width: 100%;
	text-align: center;

	img{
		width: 110px;
		height: 115px;
	}
}

.main-header__main-nav{
	z-index: 3;
	position: absolute;
	left: 0;
	right: 0;
	animation: drop-in 800ms cubic-bezier(0, 0, 0.02, 1);

	&::before{
		background-image: url($image-path + "chains.png");
		background-repeat: no-repeat;
		content: "";
		display: block;
		width: 100%;
		height: 168px;
		background-size: 218px;
		position: absolute;
		background-position: center -9px;
	}

	.menu{
		margin: 0 auto;
		padding: 0 5.5%;
		list-style: none;
		display: flex;
		justify-content: space-between;
		width: 50%;
		background-color: $navigation-menu-background-color;
		box-sizing: border-box;
		margin-top: 168px;
		box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
		min-width: 290px;
		max-width: 425px;
		border-radius: 3px;

		li{
			display: none;

			&:nth-child(-n+6){
				display: block;
			}

			&.main-nav__more-link{
				display: block;

				&::after{
					display: none;
				}
			}
		}

		.separator{
			color: $medium-text-color;;
			line-height: 2.375;
		}
	}

	a{
		color: $medium-text-color;;
		text-decoration: none;
		font-family: $font-display-2;
		@include typography(28px, 38.5px);

		&:hover{
			color: $light-text-color;
		}
	}

	.current-menu-item a{
		color: $light-text-color;
	}
}