// Colors --------------------------------------------------------------

$background-color: #F4F1EB;

$light-text-color: #FFF3DE;
$medium-text-color: #D1C6B6;
$mid-dark-text-color: #7A715F;
$dark-text-color: #262622;

$secondary-tint-color: #C5C0A5;
$secondary-medium-color: #87875D;
$secondary-text-color: #7B7B55;

$tertiary-tint-color: #FFE6CA;
$tertiary-color: #C07131;

$white: #FFFFFF;
$light-neutral: #CFCFCF;
$semi-neutral: #C7C3BB;

$table-heading-background-color: #8e8982;
$table-row-primary-background-color: #e8e5df;
$table-row-secondary-background-color: #e0dcd5;

$navigation-menu-background-color: #2B2821;

$intro-section-tint-color: #736958;
$intro-section-shade-color: #4F483D;

$standard-button-tint-color: #A6967E;
$standard-button-color: #8C7F6B;

$special-button-tint-color: #FFE082;
$special-button-shade-color: #E6CA75;
$special-button-text-color: #A8851B;

// Font Family ---------------------------------------------------------

$font-body: "Eczar";
$font-heading: "Aleo";
$font-display-1: "Regina Black Hilite";
$font-display-2: "Cast Iron";

// Breakpoints ---------------------------------------------------------

$tiny-breakpoint: 450px;
$medium-breakpoint: 650px;
$large-breakpoint: 1200px;

// File Paths- ---------------------------------------------------------

$image-path: '../images/system/';
$font-path: '../fonts/';

// Mixins --------------------------------------------------------------

@mixin tblr($value) {
	top: $value;
	bottom: $value;
	left: $value;
	right: $value;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin typography($fontsize, $lineheight: null) {
	font-size: calculateRem($fontsize);
	@if ($lineheight) {
		line-height: ($lineheight/$fontsize);
	}
}